Criando um dataframe a partir de um dicionário

In [9]:
import pandas as pd

# dataframe = pd.DataFrame()
Venda = {
    'data': ['15/02/2021', '16/02/2021'],
    'valor': [500, 300],
    'produto': ['feijao', 'arroz'],
    'qtde': [50, 70],
}

Vendas_df = pd.DataFrame(Venda)

Vizualização de dados 
- Print
-  Display

In [10]:
print(Vendas_df)

display(Vendas_df)

         data  valor produto  qtde
0  15/02/2021    500  feijao    50
1  16/02/2021    300   arroz    70

         data  valor produto  qtde
0  15/02/2021    500  feijao    50
1  16/02/2021    300   arroz    70

In [11]:
import pandas as pd
Vendas_df = pd.read_excel("Vendas.xlsx")
display(Vendas_df)

,Código Venda,Data,ID Loja,Produto,Quantidade,Valor Unitário,Valor Final
0,1,2019-01-01,Iguatemi Esplanada,Sapato Estampa,1,358,358
1,1,2019-01-01,Iguatemi Esplanada,Camiseta,2,180,360
2,1,2019-01-01,Iguatemi Esplanada,Sapato Xadrez,1,368,368
3,2,2019-01-02,Norte Shopping,Relógio,3,200,600
4,2,2019-01-02,Norte Shopping,Chinelo Liso,1,71,71
...,...,...,...,...,...,...,...
93905,65012,2019-11-30,Shopping Vila Velha,Mochila Xadrez,2,283,566
93906,65013,2019-11-30,Ribeirão Shopping,Pulseira Listrado,2,79,158
93907,65013,2019-11-30,Ribeirão Shopping,Cueca Listrado,3,67,201
93908,65014,2019-11-30,Shopping Morumbi,Pulseira Linho,5,114,570
93909,65014,2019-11-30,Shopping Morumbi,Casaco Xadrez,4,259,1036

resumo de vizualização de dados simples e uteis
 - head
 - shape
 - describe

In [12]:
Vendas_df = pd.read_excel("Vendas.xlsx")

display(Vendas_df.head())       # vai mostrar a quantidade de linhas, as primeiras

display(Vendas_df.shape)        # mostra quantas linhas e quantas colunas tem 

display(Vendas_df.describe())   # te mostra um resumo geral

KeyboardInterrupt:

selecionando uma unica coluna da tabela

In [ ]:
# series no pandas é uma coluna da tabela "pd.Series"

Produtos = Vendas_df[['Produto', 'ID Loja']]
display(Produtos)

                 Produto              ID Loja
0         Sapato Estampa   Iguatemi Esplanada
1               Camiseta   Iguatemi Esplanada
2          Sapato Xadrez   Iguatemi Esplanada
3                Relógio       Norte Shopping
4           Chinelo Liso       Norte Shopping
...                  ...                  ...
93905     Mochila Xadrez  Shopping Vila Velha
93906  Pulseira Listrado    Ribeirão Shopping
93907     Cueca Listrado    Ribeirão Shopping
93908     Pulseira Linho     Shopping Morumbi
93909      Casaco Xadrez     Shopping Morumbi

[93910 rows x 2 columns]

In [ ]:
# .loc ---> pegar uma linha
# pegar uma linha e uma coluna especifico 
# pegar uma linha com uma condição 

display(Vendas_df.loc[1:5]) # pegando da linha 1 até a linha 5

,Código Venda,Data,ID Loja,Produto,Quantidade,Valor Unitário,Valor Final
1,1,2019-01-01,Iguatemi Esplanada,Camiseta,2,180,360
2,1,2019-01-01,Iguatemi Esplanada,Sapato Xadrez,1,368,368
3,2,2019-01-02,Norte Shopping,Relógio,3,200,600
4,2,2019-01-02,Norte Shopping,Chinelo Liso,1,71,71
5,3,2019-01-02,Rio Mar Shopping Fortaleza,Cinto Linho,1,248,248

In [ ]:
Vendas_NorteShopping_df = Vendas_df.loc[Vendas_df['ID Loja'] == 'Norte Shopping', ["ID Loja", "Produto", "Quantidade"]]
display(Vendas_NorteShopping_df)

# eu quero localizar as vendas no shopping norte onde são as vendas que eu quero localizar aonde na 
# coluna ID Loja é igual a norte shopping

              ID Loja                 Produto  Quantidade
3      Norte Shopping                 Relógio           3
4      Norte Shopping            Chinelo Liso           1
8      Norte Shopping  Camisa Gola V Listrado           1
9      Norte Shopping             Camisa Liso           1
100    Norte Shopping            Cueca Xadrez           5
...               ...                     ...         ...
93716  Norte Shopping             Polo Xadrez           1
93754  Norte Shopping              Calça Liso           1
93755  Norte Shopping          Casaco Estampa           2
93756  Norte Shopping                   Gorro           2
93852  Norte Shopping           Bermuda Linho           1

[3924 rows x 3 columns]

- Adicionando uma coluna nova no Pandas: pode ser ap artir de uma ja existente, ou voce criar uma nova com valor padrão

In [ ]:
# Criar um coluna 'comissão' com base nas vendas
Vendas_df['Comissão'] = Vendas_df['Valor Final'] *0.05
display(Vendas_df)

# Criar uma coluna com valor padrão
Vendas_df.loc[:, "Imposto"] = 0   # Na coluna de imposto eu vou preencher todas as linhas com zero
display(Vendas_df)

#  Os ' : ' significa 'todos'

KeyError: 'Valor Final'

In [ ]:
# Adicionar linhas na tabela, repare que nossas vendas vão até novembro somrente
# então vamos adicionar as vendas de dezembro

# Vizualizar a tabela de dezembro
Vendas_dez_df = pd.read_excel("Vendas - Dez.xlsx")
# display(Vendas_dez_df)
if 'Vendas_df' not in globals():
    Vendas_df = pd.DataFrame()

Vendas_df = pd.concat([Vendas_df, Vendas_dez_df], ignore_index=True)  # metodo 'append' para adicionar também
display(Vendas_df)

# ignore_index=True é utilizado no método concat do pandas para ignorar os índices originais
# dos DataFrames sendo concatenados e gerar novos índices sequenciais para o DataFrame resultante.

,Código Venda,Data,ID Loja,Produto,Quantidade,Valor Unitário,Valor Final,Comissão,Imposto
0,1,2019-01-01,Iguatemi Esplanada,Sapato Estampa,1,358,358,17.90,0.0
1,1,2019-01-01,Iguatemi Esplanada,Camiseta,2,180,360,18.00,0.0
2,1,2019-01-01,Iguatemi Esplanada,Sapato Xadrez,1,368,368,18.40,0.0
3,2,2019-01-02,Norte Shopping,Relógio,3,200,600,30.00,0.0
4,2,2019-01-02,Norte Shopping,Chinelo Liso,1,71,71,3.55,0.0
...,...,...,...,...,...,...,...,...,...
100994,69996,2019-12-26,Center Shopping Uberlândia,Short Listrado,2,102,204,NaN,NaN
100995,69996,2019-12-26,Center Shopping Uberlândia,Mochila,4,270,1080,NaN,NaN
100996,69996,2019-12-26,Center Shopping Uberlândia,Pulseira Estampa,1,87,87,NaN,NaN
100997,69997,2019-12-26,Ribeirão Shopping,Camisa Listrado,1,108,108,NaN,NaN
100998,69997,2019-12-26,Ribeirão Shopping,Short Linho,2,133,266,NaN,NaN

In [ ]:
# ------>EXLUIR Uma linhas e colunas
# Vendas_df = Vendas_df.drop(0, axis=0) ---> Usar o drop(selecionar a linha ou coluna)
# display(Vendas_df)

# ------> Deletar linhas e colunas COMPLETAMENTE vazias
# Vendas_df = Vendas_df.dropna(how='all', axis=1) # 'all' -> linhas vazias, add=icionar o eixo pra selec as colunas tbm

# ------> Deletar linhas que possuem pelo menos um valor vazio
# Vendas_df = Vendas_df.dropna()

# ------> preencher com a media da coluna
# Vendas_df['Comissão'] = Vendas_df['Comissão'].fillna(Vendas_df['Comissão'].mean())
# posso colocar apenas 'fillna()' e selecionar um valor que ele preenche todos os valores vazios

# ------> Preencher com o ultmo valor de cima
# Vendas_df = Vendas_df.ffill()

- Calcular Indicadores: Groupby, Value Counts.

In [ ]:
# Calcular as transações que cada loja fez? 
Transacoes_Loja = Vendas_df['ID Loja'].value_counts() # Somar os valores
display(Transacoes_Loja)

ID Loja
Shopping Vila Velha                 4234
Palladium Shopping Curitiba         4210
Norte Shopping                      4179
Rio Mar Shopping Fortaleza          4118
Bourbon Shopping SP                 4116
Iguatemi Campinas                   4108
Rio Mar Recife                      4099
Shopping Center Leste Aricanduva    4093
Shopping SP Market                  4080
Shopping Ibirapuera                 4051
Novo Shopping Ribeirão Preto        4049
Ribeirão Shopping                   4048
Salvador Shopping                   4030
Shopping Center Interlagos          4021
Shopping Iguatemi Fortaleza         4021
Center Shopping Uberlândia          4013
Shopping Eldorado                   4002
Passei das Águas Shopping           4000
Shopping União de Osasco            3995
Iguatemi Esplanada                  3980
Shopping Barra                      3962
Shopping Morumbi                    3960
Parque Dom Pedro Shopping           3902
Shopping Recife                     3891
Shopping Midway Mall                3837
Name: count, dtype: int64

In [ ]:
# Groupby (vai agrupar as informações)
# Eu quero saber o faturamento dos produtos
# Exemplo, vou agrupar um produto e somar todos os valores desse produto

# Fatura_Produtos = Vendas_df.groupby('Produto').sum()
# display(Fatura_Produtos)

# Selecionar somente algumas colunas [Produto, Valorfinal]
Fatura_Produtos = Vendas_df[['Produto', 'Valor Final']].groupby('Produto').sum()
display(Fatura_Produtos)

                  Valor Final
Produto
Bermuda                272250
Bermuda Estampa        291694
Bermuda Linho          394680
Bermuda Liso           275692
Bermuda Listrado       293237
...                       ...
Tênis Estampa          457728
Tênis Linho            538608
Tênis Liso             474544
Tênis Listrado         481032
Tênis Xadrez           459725

[120 rows x 1 columns]

- Mesclando dois DataFrames(procurar infos de um no outro)

In [ ]:
Gerentes_df = pd.read_excel("Gerentes.xlsx")
# display(Gerentes_df)

Vendas_df = Vendas_df.merge(Gerentes_df)
display(Vendas_df)

,Código Venda,Data,ID Loja,Produto,Quantidade,Valor Unitário,Valor Final,Comissão,Imposto,Gerente
0,1,2019-01-01,Iguatemi Esplanada,Sapato Estampa,1,358,358,17.90,0.0,Salvador
1,1,2019-01-01,Iguatemi Esplanada,Camiseta,2,180,360,18.00,0.0,Salvador
2,1,2019-01-01,Iguatemi Esplanada,Sapato Xadrez,1,368,368,18.40,0.0,Salvador
3,21,2019-01-02,Iguatemi Esplanada,Camisa Gola V Listrado,2,116,232,11.60,0.0,Salvador
4,34,2019-01-02,Iguatemi Esplanada,Sapato Listrado,1,363,363,18.15,0.0,Salvador
...,...,...,...,...,...,...,...,...,...,...
100994,69846,2019-12-25,Salvador Shopping,Short Estampa,2,96,192,NaN,NaN,Mateus
100995,69846,2019-12-25,Salvador Shopping,Tênis Estampa,5,256,1280,NaN,NaN,Mateus
100996,69850,2019-12-25,Salvador Shopping,Calça Estampa,4,177,708,NaN,NaN,Mateus
100997,69972,2019-12-26,Salvador Shopping,Terno Liso,3,720,2160,NaN,NaN,Mateus
100998,69972,2019-12-26,Salvador Shopping,Sapato Estampa,5,358,1790,NaN,NaN,Mateus