In [ ]:
# -------------DESAFIO-------------
# Voce trabalha em uma empresa de cartão de creditos e o diretor da empresa percebeu que o numero
# de clientes que cancelam seus cartões tem aumentado significativamente, causando prejuizo pra empresa.
# o QUE FAZER para evitar isso ???????
# ---> o que temos: base de dados de clientes atuais e que cancelaram.

# PASSO A PASSO
# -> passo 01: Iportar uma base de dados;
# -> passo 02: Visualizar e tratar essa base de dados
# -> passo 03: dar uma "olhada" na base de dados
# -> passo 04: Construir uma análise para identificar o motivo, ou principais motivos, dos clientes
# cancelarem seus cartões

In [4]:
import pandas as pd

tabela = pd.read_csv("ClientesBanco.csv", encoding="latin1")
tabela = tabela.drop("CLIENTNUM", axis=1) # drop é para excluir um coluna, que ta dificultando um pouco, que nao serve
display(tabela)
# encoding-> é pra evitar erros de 'DeCode' que são devidos a alguns caracteres especificos por causa de idioma e tudo mais

,Categoria,Idade,Sexo,Dependentes,Educação,Estado Civil,Faixa Salarial Anual,Categoria Cartão,Meses como Cliente,Produtos Contratados,Inatividade 12m,Contatos 12m,Limite,Limite Consumido,Limite Disponível,Mudanças Transacoes_Q4_Q1,Valor Transacoes 12m,Qtde Transacoes 12m,Mudança Qtde Transações_Q4_Q1,Taxa de Utilização Cartão
0,Cliente,45,M,3,Ensino Médio,Casado,$60K - $80K,Blue,39,5,1,3,12691.0,777,11914.0,1335.000,1144,42,1625.000,0.061
1,Cliente,49,F,5,Ensino Superior,Solteiro,Less than $40K,Blue,44,6,1,2,8256.0,864,7392.0,1541.000,1291,33,3714.000,0.105
2,Cliente,51,M,3,Ensino Superior,Casado,$80K - $120K,Blue,36,4,1,0,3418.0,0,3418.0,2594.000,1887,20,2333.000,0.000
3,Cliente,40,F,4,Ensino Médio,Não informado,Less than $40K,Blue,34,3,4,1,3313.0,2517,796.0,1405.000,1171,20,2333.000,0.760
4,Cliente,40,M,3,Sem ensino formal,Casado,$60K - $80K,Blue,21,5,1,0,4716.0,0,4716.0,2175.000,816,28,2.500,0.000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10122,Cliente,50,M,2,Ensino Superior,Solteiro,$40K - $60K,Blue,40,3,2,3,4003.0,1851,2152.0,0.703,15476,117,0.857,0.462
10123,Cancelado,41,M,2,Não informado,Divorciado,$40K - $60K,Blue,25,4,2,3,4277.0,2186,2091.0,0.804,8764,69,0.683,0.511
10124,Cancelado,44,F,1,Ensino Médio,Casado,Less than $40K,Blue,36,5,3,4,5409.0,0,5409.0,0.819,10291,60,0.818,0.000
10125,Cancelado,30,M,2,Ensino Superior,Não informado,$40K - $60K,Blue,36,4,3,3,5281.0,0,5281.0,0.535,8395,62,0.722,0.000
10126,Cancelado,43,F,2,Ensino Superior,Casado,Less than $40K,Silver,25,6,2,4,10388.0,1961,8427.0,0.703,10294,61,0.649,0.189

In [6]:
# tabela.info -> da algumas informações gerais sobre a tabela
display(tabela.info())
# reparando na 'categoria de cartão' ele tem apenas uma linha faltando,
# voce tambem pode preencher com alguma informação

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10127 entries, 0 to 10126
Data columns (total 20 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   Categoria                      10127 non-null  object
 1   Idade                          10127 non-null  int64
 2   Sexo                           10127 non-null  object
 3   Dependentes                    10127 non-null  int64
 4   Educação                       10127 non-null  object
 5   Estado Civil                   10127 non-null  object
 6   Faixa Salarial Anual           10127 non-null  object
 7   Categoria Cartão               10126 non-null  object
 8   Meses como Cliente             10127 non-null  int64
 9   Produtos Contratados           10127 non-null  int64
 10  Inatividade 12m                10127 non-null  int64
 11  Contatos 12m                   10127 non-null  int64
 12  Limite                         10127 non-null  float64
 13  Limite Consumido               10127 non-null  int64
 14  Limite Disponível              10127 non-null  float64
 15  Mudanças Transacoes_Q4_Q1      10127 non-null  float64
 16  Valor Transacoes 12m           10127 non-null  int64
 17  Qtde Transacoes 12m            10127 non-null  int64
 18  Mudança Qtde Transações_Q4_Q1  10127 non-null  float64
 19  Taxa de Utilização Cartão      10127 non-null  float64
dtypes: float64(5), int64(9), object(6)
memory usage: 1.5+ MB

None

In [9]:
# vou excluir todas as linhas que tem apenas um valor vazio
tabela = tabela.dropna()
display(tabela.info())
# agora eu tenho 10126 valores não vazio

display(tabela.describe().round(2)) # '.round' é pra arredondar as casas numericas
# mostrar dados sob outros parametros, como os valores estão distribuidos conforme as categorias(colunas com numeros)

<class 'pandas.core.frame.DataFrame'>
Index: 10126 entries, 0 to 10126
Data columns (total 20 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   Categoria                      10126 non-null  object
 1   Idade                          10126 non-null  int64
 2   Sexo                           10126 non-null  object
 3   Dependentes                    10126 non-null  int64
 4   Educação                       10126 non-null  object
 5   Estado Civil                   10126 non-null  object
 6   Faixa Salarial Anual           10126 non-null  object
 7   Categoria Cartão               10126 non-null  object
 8   Meses como Cliente             10126 non-null  int64
 9   Produtos Contratados           10126 non-null  int64
 10  Inatividade 12m                10126 non-null  int64
 11  Contatos 12m                   10126 non-null  int64
 12  Limite                         10126 non-null  float64
 13  Limite Consumido               10126 non-null  int64
 14  Limite Disponível              10126 non-null  float64
 15  Mudanças Transacoes_Q4_Q1      10126 non-null  float64
 16  Valor Transacoes 12m           10126 non-null  int64
 17  Qtde Transacoes 12m            10126 non-null  int64
 18  Mudança Qtde Transações_Q4_Q1  10126 non-null  float64
 19  Taxa de Utilização Cartão      10126 non-null  float64
dtypes: float64(5), int64(9), object(6)
memory usage: 1.6+ MB

None

,Idade,Dependentes,Meses como Cliente,Produtos Contratados,Inatividade 12m,Contatos 12m,Limite,Limite Consumido,Limite Disponível,Mudanças Transacoes_Q4_Q1,Valor Transacoes 12m,Qtde Transacoes 12m,Mudança Qtde Transações_Q4_Q1,Taxa de Utilização Cartão
count,10126.00,10126.00,10126.00,10126.00,10126.00,10126.00,10126.00,10126.00,10126.00,10126.00,10126.00,10126.00,10126.00,10126.00
mean,46.33,2.35,35.93,3.81,2.34,2.46,8631.96,1162.76,7469.20,108.71,4404.39,64.86,66.58,0.27
std,8.02,1.30,7.99,1.55,1.01,1.11,9089.23,815.01,9091.13,353.91,3397.16,23.47,284.00,0.28
min,26.00,0.00,13.00,1.00,0.00,0.00,1438.30,0.00,3.00,0.00,510.00,10.00,0.00,0.00
25%,41.00,1.00,31.00,3.00,2.00,2.00,2555.00,358.00,1324.25,0.63,2156.00,45.00,0.58,0.02
50%,46.00,2.00,36.00,4.00,2.00,2.00,4549.00,1276.00,3473.00,0.74,3899.50,67.00,0.70,0.18
75%,52.00,3.00,40.00,5.00,3.00,3.00,11067.75,1784.00,9860.00,0.86,4741.00,81.00,0.82,0.50
max,73.00,5.00,56.00,6.00,6.00,6.00,34516.00,2517.00,34516.00,3397.00,18484.00,139.00,3714.00,1.00